@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Cabin';
    background: linear-gradient(to bottom right, #c9dff1, #5abee6);
    box-sizing: border-box;
}

#tentacles {
    width: 50px;
    align-content: center;
}

  
/* Style the navbar */
#navbar {
    background-color: rgb(44, 164, 228);
    padding: 0px;
    position: sticky;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 1000;
}
#navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: auto;

}
#navbar a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: auto;
}
#navbar a:hover {
    background-color: lightblue;
    border-radius: auto;
}
.header-text {
    color: white;
} 

.stats-container {
    display: flex;
    align-items: center;
    flex-flow: row;
}
.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #bcf1ff;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#first-game {
    background-color: #fde9a9;
}
#first-game:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(255, 195, 32);
}
#second-game {
    background-color: #d0e1eb;
}
#second-game:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(213, 249, 255);
}
#welcome{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 40px rgb(165, 255, 252);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

#button-container {
    text-align: center;
}

.button-game {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    background-color: #FFFFFF;
}

